<div class="row mbl object-show">
  <div class="col-lg-4">
    <div class="panel">
        <a id="addObjBtn" class="btn btn-green"><i class="fa fa-upload"></i>&nbsp;
            Add Music Video</a>
    </div>
  </div>
</div>
<div id="mainObject" class="row mbl">
  <div class="col-lg-12">
      <ul id="generalTab" class="nav nav-tabs responsive">
          <li class="active"><a href="#local-tab" data-toggle="tab">Local</a></li>
          <li><a href="#foreign-tab" data-toggle="tab">Foreign</a></li>
      </ul>
      <div id="generalTabContent" class="tab-content responsive">
          <div id="local-tab" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-12">
                <!--Mus Vids start-->
                <section class="panel">
                  <header class="panel-heading">
                    Local Music
                  </header>
                  <div class="panel-body table-responsive">
                    {% if localEntities is empty %}
                        <p> No Music Video with Local category has been entered. Please Click on the Add button above to include new Series. </p>
                    {% else %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name of Music:</th>
                            <th>Artists:</th>
                            <th>Video Length:</th>
                            <th>Year Produced:</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for e in localEntities %}
                              <tr>
                                  <td>{{ e.id }}</td>
                                  <td>
                                      {% if e.musicName is empty %}
                                      {% else %}
                                      {{ e.musicName }}
                                      {% endif %}
                                  </td>
                                  <td>
                                      {% if e.artists is empty %}
                                      {% else %}
                                      {{ e.artists }}
                                      {% endif %}
                                  </td>
                                  <td>
                                      {% if e.videoLength is empty %}
                                      {% else %}
                                      {{ e.videoLength }}
                                      {% endif %}
                                  </td>
                                  <td>{{ e.musicYear }}</td>
                                  <td class="pull-right">
                                    <a class="btn btn-default btn-xs clearfix"><i class="fa fa-folder-open"></i></a>
                                    <a class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="btn btn-default btn-xs"><i class="fa fa-trash"></i></a>
                                  </td>
                              </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  </div>
                </section>
                <!--Mus Vids end-->
              </div><!--end col-12 -->
            </div>
          </div>
          <div id="foreign-tab" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12">
                <!--Mus Vids start-->
                <section class="panel">
                  <header class="panel-heading">
                    Foreign Music
                  </header>
                  <div class="panel-body table-responsive">
                    {% if foreEntities is empty %}
                        <p> No Music Video with Foreign category has been entered. Please Click on the Add button above to include new Series. </p>
                    {% else %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name of Music:</th>
                            <th>Artists:</th>
                            <th>Video Length:</th>
                            <th>Year Produced:</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for e in foreEntities %}
                              <tr>
                                  <td>{{ e.id }}</td>
                                  <td>
                                      {% if e.musicName is empty %}
                                      {% else %}
                                      {{ e.musicName }}
                                      {% endif %}
                                  </td>
                                  <td>
                                      {% if e.artists is empty %}
                                      {% else %}
                                      {{ e.artists }}
                                      {% endif %}
                                  </td>
                                  <td>
                                      {% if e.videoLength is empty %}
                                      {% else %}
                                      {{ e.videoLength }}
                                      {% endif %}
                                  </td>
                                  <td>{{ e.musicYear }}</td>
                                  <td class="pull-right">
                                    <a class="btn btn-default btn-xs clearfix"><i class="fa fa-folder-open"></i></a>
                                    <a class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="btn btn-default btn-xs"><i class="fa fa-trash"></i></a>
                                  </td>
                              </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  </div>
                </section>
                <!--Mus Vids end-->
              </div><!--end col-12 -->
            </div>
          </div>
      </div>
  </div>
</div>

<div id="addObject" class="row mbl center object-hide">
    <div class="col-lg-4">
        <div class="panel panel-grey">
            <div class="panel-heading">
                Add Music-Video</div>
            <div class="panel-body pan">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                <div class="form-body pal">
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_errors(form.musicName) }}
                            <i class="fa fa-music"></i>
                            {{ form_widget(form.musicName, {'attr': {'class': 'form-control', 'placeholder':'Music Name', 'autofocus':''}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_errors(form.artists) }}
                            <i class="fa fa-users"></i>
                            {{ form_widget(form.artists, {'attr': {'class': 'form-control', 'placeholder':'Artists', 'autofocus':''}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_label(form.category) }}
                            {{ form_errors(form.category) }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control', 'placeholder':'Category', 'autofocus':''}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_errors(form.musicYear) }}
                            <i class="fa fa-calendar"></i>
                            {{ form_widget(form.musicYear, {'attr': {'class': 'form-control', 'placeholder':'Year Produced', 'autofocus':''}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_label(form.genre) }}
                            {{ form_errors(form.genre) }}
                            <i class="fa fa-music"></i>
                            {{ form_widget(form.genre, {'attr': {'class': 'form-control', 'placeholder':'Music Name', 'autofocus':''}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_errors(form.videoLength) }}
                            <i class="fa fa-window-minimize"></i>
                            {{ form_widget(form.videoLength, {'attr': {'class': 'form-control', 'placeholder':'Video Length', 'autofocus':''}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon right">
                            {{ form_label(form.videoFile) }}
                            {{ form_errors(form.videoFile) }}
                            <i class="fa fa-film"></i>
                            {{ form_widget(form.videoFile, {'attr': {'class': '', 'placeholder':'Choose Video File', 'autofocus':''}}) }}
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <a href="#" class="btn cancel-add">Cancel</a>&nbsp;&nbsp;
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script>
    //For my re-arranging blocks on add object
    $('a#addObjBtn').bind('click',function(e){
      e.preventDefault();

      console.log("To check if working");
      $('#mainObject').removeClass('object-show');
      $('#mainObject').addClass('object-hide');
      $('#addObject').removeClass('object-hide');
      $('#addObject').addClass('object-show');
    });

    $('a.cancel-add').bind('click',function(e){
      e.preventDefault();

      console.log("To check cancel if working");

      $('#addObject').removeClass('object-show');
      $('#addObject').addClass('object-hide');

      $('#mainObject').removeClass('object-hide');
      $('#mainObject').addClass('object-show');
    });
{#
    $( '#formMuzVid' ).submit(function(e) {
      //alert( "Handler for .submit() called." );
      e.preventDefault();

      $this = $(this);
      $url = $this.attr("action");
      $('#content').hide().parent().append('<div id="loading" class="center"><i class="fa fa-cog fa-spin fa-3x stat-elem lg loading-icon"></i>Saving...<div class="center"></div></div>');

      $.ajax({
          // the URL for the request
          url: $url,
          // whether this is a POST or GET request
          type: "POST",
          // the type of data we expect back
          data: $this.serialize(),
          // code to run if the request succeeds;
          // the response is passed to the function
          success: function () {
              //$('#content').html(html);
              //$( "<h1/>" ).text( json.title ).appendTo( "body" );
              //$( "<div class=\"content\"/>").html( json.html ).appendTo( "body" );
          },
          // code to run if the request fails; the raw request and
          // status codes are passed to the function
          error: function (xhr, status, errorThrown) {
              alert("Sorry, there was a problem!");
              //console.log( "Error: " + errorThrown );
              //console.log( "Status: " + status );
              //console.dir( xhr );
          },
          // code to run regardless of success or failure
          complete: function (xhr, status) {
              alert( "Submitted Successfully" );
              $('#loading').remove();
              $('#content').fadeIn();
          }
      });
    });
#}
</script>
